@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&family=IBM+Plex+Sans:wght@400;500;700&display=swap');


:root {
  --font-base:  'Hind', sans-serif;
  --font-title: 'IBM Plex Sans', sans-serif;
  --primary-color: #edf2f8;
  --secondary-color: #7820D8;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --dark-gradient: linear-gradient(90deg, #607D8B 0%, #000C40 100%);
  --green-blue-luminescent:#7820D8;
  


}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
  
  
}
body{
  background: #50545C;
  width: 100%;
}
